.single-testing-panel
  .order-cell
    min-height: 70px
    display: flex
    align-items: center
    white-space: pre-wrap
    margin-left: 0

    .vkuiCell__dragger
      margin-right: 10px

    .vkuiSimpleCell__main
      white-space: break-spaces
      max-width: calc(100% - 42px)

.incorrect > input
  background: #ef9a9a

.correct > input
  background: #a5d6a7