doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    a(href="//freekassa.ru/")
      img(src="//www.free-kassa.ru/img/fk_btn/9.png", title="Приём оплаты на сайте картами")