<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover")
    title Экзаменатор
    link(rel="icon", href="/static/favicon.ico", sizes="256x256")
  body(unnamed)
    img(src="https://shcola2neman.ru/uploads/posts/2017-09/1505415804_tehraboty.png")
    button#reload Обновить
    script(src=`/dist/plug.js`)