body
  box-sizing: border-box
  display: flex
  justify-content: space-between
  flex-direction: column
  align-items: center
  margin: 0
  width: 100vw
  height: 100vh
  overflow: hidden
  padding-top: 150px
  padding-bottom: 50px
  user-select: none

  & > #img
    background: #F9C41C
    padding-top: 40px
    border: 2px solid black
    border-radius: 7px
    max-width: 80%

    img
      width: 100%

  button#reload
    appearance: none
    margin-top: 20px
    font-weight: bold
    padding: 17px 50px
    font-size: 1.1rem
    color: black
    background-color: #F9C41C
    border-radius: 7px
    border: 2px solid black
    user-select: none

    &:active
      background: #dba906